LITELLM_MASTER_KEY={{ op://clankers/local-service/password }}
LITELLM_DB_PASSWORD={{ op://clankers/local-service/password }}
POSTGRES_PASSWORD={{ op://clankers/local-service/password }}
DATABASE_URL=postgresql://litellm:{{ op://clankers/local-service/password }}@litellm-db:5432/litellm
OPENAI_API_KEY={{ op://clankers/openai/password }}
ANTHROPIC_API_KEY={{ op://clankers/anthropic-key1/password }}
MISTRAL_API_KEY={{ op://clankers/mistral-free/password }}
OPENROUTER_API_KEY={{ op://clankers/openrouter/password }}
OPENCODE_API_KEY={{ op://clankers/opencode-zen/password }}
