MINIO_ROOT_USER={{ op://clankers/local-service/username }}
MINIO_ROOT_PASSWORD={{ op://clankers/local-service/password }}
MINIO_BUCKET=files
MINIO_SERVER_URL=https://minio.dev.ankitson.com
MINIO_BROWSER_REDIRECT_URL=https://minio-console.dev.ankitson.com
